.history-icon {
  cursor: pointer;
}

.empty-cart-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(100, 100, 100);
  padding: 50px;
  .empty-placeholder-icon {
    font-size: 30px;
  }
}

.cart-contents-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  main {
    flex: 1;
    overflow: auto;
    .cart-section-container {
      padding-top: 25px;
      .cart-section-heading {
        display: flex;
        border-bottom: 1px solid var(--ion-color-primary);
        padding: 0 10px 10px;
        color: var(--ion-color-primary);
        .section-label {
          flex: 1;
        }
      }
      .cart-section-body {
        display: flex;
        flex-direction: column;
        .order-detail-row {
          padding: 10px 10px 5px 10px;
          .order-detail {
            display: flex;
            align-items: center;
            .detail-label,
            .detail-value {
              flex: 1;
            }
            .detail-value {
              padding-left: 20px;
            }
          }
        }
        .product-details-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid rgb(240, 240, 240);
          .product-image-container {
            width: 54px;
            padding: 5px;
          }
          .quantity-control-buttons {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            .up-button,
            .down-button {
              background-color: lightgray;
              border-radius: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
            }
            .button-spacer {
              height: 15px;
            }
          }
          .product-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding-left: 10px;
            .product-detail {
              display: flex;
              font-size: 16px;
              .product-quantity {
                flex: 1;
              }
              .tax-span {
                font-size: 12px;
                color: var(--ion-color-danger);
              }
            }
          }
        }
      }
    }
    .cart-section-container:first-child {
      padding-top: 10px;
    }
  }
  footer {
    position: relative;
    height: 40px;
    padding: 10px 0;
    .footer-inner {
      width: 100%;
      position: absolute;
      display: flex;
      .total {
        flex: 1;
        display: flex;
        flex-direction: column;
        .total-container {
          font-size: 20px;
        }
      }
      .total-order {
        @extend .total;
        align-items: flex-end;
      }

      .checkout-button {
        background-color: var(--ion-color-primary);
        color: white;
      }
    }
  }
}
